[light]:root{
  --nav-bg-color: #fff;
  --bg-opcity: 1;
  --bg-color: rgba(255,255,255, var(--bg-opcity));

  /* 进度条颜色 */
  --ngprogress-bar-color: #353535;
  --md-h1-color: #000;

  --intro-h1: #fff;
}

