[light]:root{
  --nav-bg-color: #fff;
  --bg-opcity: 1;
  --bg-color: rgba(255,255,255, var(--bg-opcity));

  /* 进度条颜色 */
  --ngprogress-bar-color: #353535;
  --md-h1-color: #000;

  --intro-h1: #000;
  --intro-h1-size: 2.5rem;

  --scorll-bar-color: #13121229;
  --hover-bg-color: rgba(167, 167, 167, .3);
  --hover-text-color: #fff;
  --item-name-color: #999;

  --logo-filter-color: brightness(0.5);

  --stroke-text-color: rgba(204, 204, 204, 0.4);
}

