[night]:root{
  --un-bg-opacity: 1;
  --nav-bg-color: rgba(34,34,34,var(--un-bg-opacity));
  --bg-opcity: .75;
  --bg-color: rgba(8,8, 8, var(--bg-opcity));

  /* 进度条颜色 */
  --ngprogress-bar-color: #fff;

  /* md h1 颜色 */
  --md-h1-color: #fff;

  --intro-h1: #fff;
 

  --scorll-bar-color: #131212;
  --intro-h1-size: 2.5rem;
}