@import url('./light.css');
@import url('./night.css');
@import url('./font/regisFont.css');
@import url('./markdown.css');

html:root {
  --half-gray-128: rgb(128, 128, 128);
  --cut-theme-font-icon-size: 22px;

  // 导航文字颜色
  --nav-text-color: var(--half-gray-128);
  --m-full: 600px;

  // 进度条高度
  --ngprogress-bar-height: 1px;

  --common-text: system-ui;
  // 系统字体
  --md-sytem-font: system-ui;

  --intro-h1-fonWeight: 800;

  --inter-font-family: 'Inter', var(--md-sytem-font);
  --common-font-family: 'inter var', 'sans-serif', 'system-ui';

  --nav-text-size: 16px;
  --nav-icon-size: 20px;
  --md-code-bg: rgb(46, 46, 46, 0.16);
}


@media screen and (max-width: 765px) {
  :root {
    --m-full: 100% !important;
  }

}

.icon {
  color: var(--half-gray-128);
  vertical-align: middle;
  font-size: var(--nav-icon-size)
}

.max-full {
  width: var(--m-full);
  margin: 0 auto;
}

.default-text {
  color: var(--half-gray-128)
}

.default-textarea {
  border: none;
  background-color: unset;
  color: var(--half-gray-128);
  outline: none;
}


.mt-3 {
  margin-top: 3.4em;
}

a {
  text-decoration: none;
}


.blog_img {
  margin: 10px 0;
  width: 600px;
  height: 300px;
  box-shadow: 0 0 5px 0  var(--half-gray-128);
  object-fit: scale-down;
  border-radius: 10px;
  transition: all .3s;
  &:hover {
    transform: scale(1.2);
  }

}


