@import url('./light.css');
@import url('./night.css');

:root {
  --half-gray-128: rgb(128, 128, 128);
  --cut-theme-font-icon-size: 18px; 

  // 导航文字颜色
  --nav-text-color: var(--half-gray-128);
  --m-full: 600px;

   /* 进度条高度 */
  --ngprogress-bar-height: 1px;
}



@media screen and (width: 765px) {
  :root {
    --m-full: 100%;
  }

}

.max-full {
  width: var(--m-full);
  margin: 0 auto;
}


a {
  text-decoration: none;
}

